
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h1>Recupera tu clave</h1>
      </ion-col>
      <ion-col size="12"><h4>Ingresa el codigo</h4></ion-col>
      <ion-col size="3">
        <ion-input type="number" placeholder="0"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-input type="number" placeholder="0"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-input type="number" placeholder="0"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-input type="number" placeholder="0"></ion-input>
      </ion-col>
      <ion-col size="12">
          <h4>Ingresa tu nueva clave</h4>
          <ion-input type="password" placeholder="*********"></ion-input>
      </ion-col>
      <ion-col size="12">
        <h4>Confirma tu clave</h4>
        <ion-input type="password" placeholder="*********"></ion-input>
    </ion-col>
    <ion-col size="12">
        <ion-button expand="full" color="light">
          Inicia sesion
        </ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
