ion-toolbar{
    --background: #343B71;
    --color: white;
    --border-style: none;

}

ion-content{
    --background: #343B71;
}

ion-item{
    --background: #343B71;
    --color: white;
    --border-style: none;
}

ion-avatar{
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;


}

#email{
    color: gray;
}

.menu-icons{
    margin-right: 25px;
}