<ion-content>
  <div id="background">
    <ion-grid fixed>
      <ion-row>
        <ion-col class="ion-margin" size="12"></ion-col>
        <ion-col size="12">
          <h1>TeLlevoApp</h1>
        </ion-col>
        <ion-col size="12">
            <p class="ion-no-margin">Compartir el mismo viaje</p>
            <p class="ion-no-margin">Nunca fue tan divertido</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div id="polygon">
      <img id="car" src="../../assets/home/car.png" alt="car">
      <section>
        <ion-button  routerLink="/log-in" class="ion-margin" expand="block" size="default" shape="round">Iniciar Sesion</ion-button>
        <ion-button routerLink="/signup" id="signup-button" class="ion-margin" expand="block" size="default" shape="round">Registrarme</ion-button>
      </section>

    </div>

  </div>
</ion-content>